.program-bg{
	background-color: #3C444D;
}

.program-card{
	max-width: 30vw;
}

.program-text{
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.program-card{
	margin-left: 10px;
	margin-right: 10px;
}

.program-img{
	border-radius: 10px;
	max-height: 30vw;
	max-width: 30vw;
	align-items: center;
}

.program-category{
	vertical-align: bottom;
	float: left;
	color: #F27A54;
}

.btn-donasi{
	float: right;
}

.empty-box{
	width: 45vw;
	margin-top: 10vw;
	margin-left: 35vw;
	text-align: center;
	background-color: #3C444D;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
}

.empty-title{
	font-size: 30px;
	background: -webkit-linear-gradient(#A8FF78,#78FFD6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  	text-align: center;
}