{% include "navbarFooter.html" %}
{% load static %}

{% block title %} Registrasi Donatur {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/navbarStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/registrationStyle.css' %}">
{% endblock %}

{% block content %}
<br><br>

{% if messages %}
    {% for message in messages %}
        <h2 style="color: red; text-align: center;">{{ message }}</h2>
    {% endfor %}
{% endif %}

<br><br>
<div class="regis-box">
	<br>
    <h1 class="regis-title"><b>REGISTRASI</b></h1>
    <form id="form" method="POST" action="{% url 'Donatur:submit' %}">
        {% csrf_token %}
        <div class="regis-form">
        {{ regisform }}
    	</div>
        <br>
        <div class="submit">
        	<button type="submit" class="btn btn-outline-secondary button btn-lg regis-btn">Daftar</button></a>
        </div>
        <br>
    </form>
</div>
{% endblock %}
