{% extends 'navbarFooter.html' %}
{% load static %}

{% block title %}List Donasi{% endblock %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}" type="text/css">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
{% endblock %}


{% block content %}
<br><br>
<h1 style="text-align: center;">List Donasi</h1>
<div style="margin-left: 10%;margin-right: 10%">
  <table id="table" class="table table-hover table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead class="thead-dark">
    <tr>
      <th class="th-sm">No
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Nama Program
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Jumlah Donasi
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>
<!-- <tbody>
        {% for story in history %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ story.program.judul }}</td>
          <td>{{ story.jumlah_donasi }}</td>
        </tr>
        {% endfor %}
      </tbody> -->
  </table>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $.ajax({
    url: "/list_donasi/data/",
    success : function(result){
      var donationList = result;
      if(donationList.length == 0){
        noDataHTML();
      }
      else{
        console.log(donationList);
        jsontoHTML(donationList);
      }
    },
    error: function(){
      console.log('ajax error')
    }
  })
})

function jsontoHTML(donationList){
  var table = document.getElementById("table");
  htmlString = "<tbody>";
  var counter = 1;
  for(var i = 0;i<donationList.length;i++){
    htmlString += "<tr>" +
    "<td>" + counter + "</td>" +
    "<td>" + donationList[i].program + "</td>" +
    "<td>" + donationList[i].jumlah_donasi + "</td>" +
    "</tr>";
    counter+=1;
  }
  table.insertAdjacentHTML('beforeend',htmlString + "</tbody>")
  $('#table').DataTable();
  $('.dataTables_length').addClass('bs-select');
}

function noDataHTML(){
  var table = document.getElementById("table");
  htmlString = "<tbody>";
  var counter = 1;
  htmlString += '<tr class="odd"><td valign="top" colspan="3" class="dataTables_empty">' + 'Anda belum melakukan donasi' + '</td></tr>'
  table.insertAdjacentHTML('beforeend',htmlString + "</tbody>")
  $('#table').DataTable();
  $('.dataTables_length').addClass('bs-select');
}
</script>
{% endblock %}
