.quote-box{
	margin-left: 10vw;
	width: 47vw;
	float: left;
	text-align: left;
}

.quote{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 50px;
	word-break: normal;
}


.landing-button{
	font-size: 30px;
	width: 210px;
}