{% extends "landingTemplate.html" %}

{% block title %} Sinarperak Donasi {% endblock %}

{% block content %}
<div class="container quote-box">
	<p class=quote>
		Terima kasih telah mendaftarkan diri menjadi donatur.</b><br>
	</p>
	<br>
	<a  href="{% url 'program:program' %}"></a><button type="button" class="btn button-daftar landing-button">AYO DONASI</button></a>
</div>
{% endblock %}