{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="{% static 'css/navbarStyle.css' %}">
	<link rel="stylesheet" href="{% static 'css/landingStyle.css' %}">


</head>
<body>
	<!-- Image and text -->
  		<nav class="navbar navbar-expand-lg navbar-light bg-orange">
  			<a class="navbar-brand navbar-text  brand" href="#">
		    	<img src="{% static 'Logo-sinarperak.png' %}" class="d-inline-block align-top logo" alt="">
		    	SINARPERAK
		  	</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		   	 <span class="navbar-toggler-icon"></span>
		  	</button>
		  	<div style="float: left;width:100vw;"></div>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav menu">
		      <a class="nav-item nav-link" href="#">Program</a>
		      <a class="nav-item nav-link" href="#">Berita</a>
		      <a class="nav-item nav-link" href="#">Donasi</a>
		      <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-outline-secondary button">Masuk</button></a>
		      <a class="nav-item nav-link" href="#"><button type="button" class="btn button-daftar">Daftar</button></a>
		    </div>
		  </div>
		</nav>
		<div class="grad1"><img src="{% static 'hungry large.jpg.653x0_q80_crop-smart.jpg' %}" class="bg-img"></div>
{% block content %}
{% endblock %}
<footer>
	<div class="jumbotron bg-orange footer">
  		<div class="container" style="padding:0rem; margin-left: 0px">
    		<h5 class="footer-tag">Copyright © 2018 Sinar Perak. All rights reserved.</h5>
    	</div>
    </div>
</footer>
</body>
</html>
