.donasi-box{
	width: 40vw;
	margin-right: 30vw;
	margin-left: 30vw;
	background-color: #3C444D;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding-right: 1vw;
	padding-left: 1vw;
}

.donasi-form{
	color:white;
}

.donasi-title{
	background: -webkit-linear-gradient(#A8FF78,#78FFD6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  	text-align: center;
}

.submit{
	text-align: center;
}

.donasi-btn{
	color: #FFFFFF;
}


@media only screen and (max-width: 768px) {
	.donasi-box{
		width: 60vw;
		margin-right: 20vw;
		margin-left: 20vw;
		background-color: #3C444D;
		border-radius: 10px;
		font-family: 'Montserrat', sans-serif;
		padding-right: 1vw;
		padding-left: 1vw;
	}

	.donasi-form{
		font-size: 3vw;
		color:white;
	}

	.donasi-title{
		font-size: 4vw;
		background: -webkit-linear-gradient(#A8FF78,#78FFD6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	  	text-align: center;
	}

	.submit{
		text-align: center;
	}

	.donasi-btn{
		font-size: 2.5vw;
		color: #FFFFFF;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.donasi-box{
		width: 50vw;
		margin-right: 25vw;
		margin-left: 25vw;
		background-color: #3C444D;
		border-radius: 10px;
		font-family: 'Montserrat', sans-serif;
		padding-right: 1vw;
		padding-left: 1vw;
	}

	.donasi-form{
		font-size: 2vw;
		color:white;
	}

	.donasi-title{
		font-size: 4vw;
		background: -webkit-linear-gradient(#A8FF78,#78FFD6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	  	text-align: center;
	}

	.submit{
		text-align: center;
	}

	.donasi-btn{
		color: #FFFFFF;
	}
}
