html{
	width: 100vw;
	height: 100vw;
}

.bg-img{
	background-repeat: no-repeat;
	position: absolute;
	width: 100vw;
	height: 100vw;
	z-index: -1;
	opacity: 0.3;
	background: center;
	height: 80vw;
	width: 99vw;
}

.bg-orange{
	background-color: #F9812A;
	width: 100vw;
}

.brand{
	font-family: 'Montserrat', sans-serif;
	font-color: #CBCFD4;
	font-size: 2vw;
}

.menu-bar{
	float:right;
}

.menu{
	font-family: 'Montserrat', sans-serif;
	font-color: #CBCFD4;
	font-size: 2vw;
}

.logo{
	width: 4vw;
	height: 4vw;
	min-width: 2vw;
	min-height: 2vw;
}

.button{
	border-radius: 25px;
}

.button-daftar{
	border-radius: 25px;
	transition: 0.5s;
    background-size: 99% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: -1px;
    width: 100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-image: linear-gradient(to right, #A8FF78,#78FFD6);
}

.button-daftar:hover{
    background-position: right center;
}

.footer{
	margin-bottom: 0rem;
	padding: 0.5rem 0rem;
}

.footer-tag{
	font-family: 'Montserrat', sans-serif;
	font-color: #CBCFD4;
	font-size: 2vw;
}