html{
	width: auto;
	height: auto;
}

.grad1{
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 60vw;
    background-image: linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.20));
}

.bg-img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.3;
	background: center;
}

.bg-orange{
	background-color: #F9812A;
	width: 100vw;
}

.brand{
	font-family: 'Montserrat', sans-serif;
	font-color: #CBCFD4;
	font-size: 2.5vw;
}

.menu-bar{
	float:right;
}

.menu{
	font-family: 'Montserrat', sans-serif;
	font-color: #CBCFD4;
	font-size: 2vw;
}

.logo{
	width: 50px;
	height: 50px;
}

.button{
	border-radius: 25px;
}

.button-daftar{
	border-radius: 25px;
	transition: 0.5s;
    background-size: 99% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: -1px;
    width: 100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-image: linear-gradient(to right, #A8FF78,#78FFD6);
}

.button-daftar:hover{
    background-position: right center;
}

.button-logout{
	font-color: white;
	border-radius: 25px;
	transition: 0.5s;
    background-size: 99% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: -1px;
    width: 100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-image: linear-gradient(to right, #ED213A,#ED213A);
}

.button-logout:hover{
    background-position: right center;
}


.footer{
	position: fixed;
	bottom: 0px;
	margin-bottom: 0rem;
	padding: 0.5rem 0rem;
}

.footer-tag{
	font-family: 'Montserrat', sans-serif;
	font-color: #CBCFD4;
	font-size: 2vw;
}
