.berita-card{
	/* width: 40vw; */
	margin-right: 3vw;
	margin-left: 3vw;
	/* background-color: #3C444D; */
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding-right: 1vw;
	padding-left: 1vw;
}

.berita-text{
	color:white;
}

.berita-img{
	background: -webkit-linear-gradient(#A8FF78,#78FFD6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  	text-align: center;
}

@media only screen and (max-width: 768px) {
	.berita-card{
		/* width: 60vw; */
		margin-right: 2vw;
	    margin-left: 2vw;
		/* background-color: #3C444D; */
		border-radius: 10px;
		font-family: 'Montserrat', sans-serif;
		padding-right: 1vw;
		padding-left: 1vw;
	}

	.berita-text{
		font-size: 3vw;
		color:white;
	}

	.berita-img{
		font-size: 4vw;
		background: -webkit-linear-gradient(#A8FF78,#78FFD6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	  	text-align: center;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.berita-card{
		/* width: 50vw; */
		margin-right: 2.5vw;
	    margin-left: 2.5vw;
		/* background-color: #3C444D; */
		border-radius: 10px;
		font-family: 'Montserrat', sans-serif;
		padding-right: 1vw;
		padding-left: 1vw;
	}

	.berita-text{
		font-size: 2vw;
		color:white;
	}

	.berita-img{
		font-size: 4vw;
		background: -webkit-linear-gradient(#A8FF78,#78FFD6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	  	text-align: center;
	}
}
