.program-bg{
	background-color: #3C444D;
}

.program-card{
	max-width: 30vw;
}

.program-text{
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.program-card{
	margin-left: 3vw;
	margin-right: 3vw;
}

.program-img{
	border-radius: 10px;
	max-height: 30vw;
	max-width: 30vw;
	align-items: center;
}

.program-category{
	vertical-align: bottom;
	float: left;
	color: #F27A54;
}

.btn-donasi{
	float: right;
}