.regis-box{
	width: 40vw;
	margin-right: 30vw;
	margin-left: 30vw;
	background-color: #3C444D;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding-right: 1vw;
	padding-left: 1vw;
}

.regis-form{
	color:white;
}

.regis-title{
	background: -webkit-linear-gradient(#A8FF78,#78FFD6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  	text-align: center;
}

.submit{
	text-align: center;
}

.regis-btn{
	color: #FFFFFF;
}