{% extends 'navbarFooter.html' %}
{% load static %}

{% block title %}About Us{% endblock %}
<head>

{% block style %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/Javascript" src="{% static 'abouttesti.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/baseStyle.css' %}" type="text/css">
{% endblock %}
</head>

{% block content %}
<br>
<div class="container">
    <div class="row">
                <div class="col-md-12 about-s2">   
                    <h2 align="center" class="card-title berita-text"><strong>Tentang Kami</strong></h2>
                    <h4 class="card-text berita-text"> SinarPerak adalah sebuah platform untuk menggalang dana bersama.  
                     Kami mengajak teman-teman untuk bisa berpartisipasi memberikan sedekah kepada korban yang membutuhkan bantuan.</h4>
    </div></div>
</div>
<br>
    {% if user.is_authenticated %}
    <h2 align="center" class="card-title berita-text"><strong>Berikan Testimoni Kamu Disini </strong></h2><br>
        {% csrf_token %}
        <div class="container">
        <div class="row">
        <div class="col-md-24">
            <div class="form-group">
                <input id="id_name" size="50" type="text" name="nama-anda"  class="form-control" placeholder="Masukan namamu.." required="">
            </div>
            <div class="form-group">
                <textarea id="id_testimony" name="isi-pesan" class="form-control" placeholder="Berikan testimoni kamu disini...." cols="150" rows="5" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></textarea>
            </div>
            <div>
                <input id="id_button" onclick="testimoni()" class="btn btn-warning"  type="Submit" value="Submit">
            </div>
        </div></div></div>
    {% endif %} 

    
    <h2 align="center" class="card-title berita-text"><strong>Kata Mereka </strong></h2>
    
    <div class="card-deck berita-card" id="hasilTesti">
            {% for i in about %}
            <div class="d-flex align-content-around flex-wrap">
             <div id="main" style="display: flex;flex-wrap: wrap;justify-content:center; width: 250px;margin: 10px;text-align: center;line-height: 75px;font-size: 30px;">
            <div class="card">
                <div class="card-body berita-bg" style = "background-color: #3C444D;">
                    <p class="card-title berita-text" style="color:white;">{{ i.testimony }}</p>
                    <p class="card-text berita-text" style="color:white; text-align: right;" >{{ i.name }}</p> 
                </div>
            </div></div>
            {% endfor %}
        </div>
{% endblock %}

