{% include "landingTemplate.html" %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/navbarStyle.css' %}">
	<link rel="stylesheet" href="{% static 'css/landingStyle.css' %}">
{% endblock %}

{% block content %}
<div class="container quote-box">
	<p class=quote>
		Giving is not just about make a donation, it's about <b>making a difference.</b><br>
		<span style="font-size: 20px; text-align: right;">- Kathy Calvin</span>
	</p>
	<br>
	<a href="{% url 'program:program' %}"><button type="button" class="btn button-daftar landing-button">AYO DONASI</button></a>
</div>
{% endblock %}