{% load static %}
{% include "navbarFooter.html" %}

{% block title %} Form Donasi {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/navbarDonasiStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/formStyle.css' %}">
{% endblock %}

{% block content %}
    <br><br>
    <div class="donasi-box">
    	<br>
        <h1 class="donasi-title"><b>TERIMA KASIH ATAS DONASINYA</b></h1>
        <h2 class="donasi-form" align=center>Uluran tanganmu sangat berarti bagi mereka</h2>
        <br>
        <div class="submit">
            <a href="{% url 'CrowdFunding:show_hello_world' %}"><button type="button" class="btn btn-outline-secondary button btn-lg donasi-btn">Kembali ke halaman utama</button></a>
        </div>
        <br>
    </div>
{% endblock %}
