{% include "navbarFooterDonasi.html" %}
{% load static %}

{% block content %}
    <br><br>
    <div class="donasi-box">
    	<br>
        <h1 class="donasi-title"><b>FORMULIR DONASI</b></h1>
        <form id="form" method="POST" action="{% url 'Donasi:buat_donasi' %}">
            {% csrf_token %}
            <div class="donasi-form">
            {{ form }}
        	</div>
            <br>
            <div class="submit">
            	<button type="submit" class="btn btn-outline-secondary button btn-lg donasi-btn">Donasi</button></a>
            </div>
            <br>
        </form>
    </div>
    <br>
{% endblock %}
