{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		Form Donasi
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<!-- Stylesheet -->
	<link rel="stylesheet" href="{% static 'css/navbarDonasiStyle.css' %}">
	<link rel="stylesheet" href="{% static 'css/formStyle.css' %}">

</head>
<body>
	<!-- Image and text -->
  		<nav class="navbar navbar-expand-lg navbar-light bg-orange">
  			<a class="navbar-brand navbar-text brand" href="{% url 'CrowdFunding:show_hello_world' %}">
		    	<img src="{% static 'Logo-sinarperak.png' %}" class="d-inline-block align-top logo" alt="">
		    	SINARPERAK
		  	</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		  	<div style="float: left;width:100vw;"></div>
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		    <div class="navbar-nav menu">
		    	<a class="nav-item nav-link" href="{% url 'About:indexAbout' %}">Tentang Kami</a>
		      <a class="nav-item nav-link" href="{% url 'program:program' %}">Program</a>
		      <a class="nav-item nav-link" href="{% url 'news:indexNews' %}">Berita</a>
		      <a class="nav-item nav-link" href="{% url 'Donasi:view_form_donasi' %}">Donasi</a>
		      {% if user.is_authenticated %}
		      	<a class="nav-item nav-link" href="{% url 'donation_history:donations' %}">List Donasi</a>
				<div class="text-right" style="font-family: 'Signika', sans-serif; padding-right: 50px;">
					<h3>Welcome, {{ user.first_name }} {{ user.last_name }}!</h3>
				</div>
				<a class="nav-item nav-link" href="{% url 'Login:logout' %}"><button type="button" class="btn button-logout">Log Out</button></a>
				{% else %}
				<a class="nav-item nav-link" href="{% url 'Login:login' %}"><button type="button" class="btn btn-outline-secondary button">Masuk</button></a>
				<a class="nav-item nav-link" href="{% url 'Donatur:registrasi' %}"><button type="button" class="btn button-daftar">Daftar</button></a>
				{% endif %}
		    </div>
		  </div>
		</nav>
		<img src="{% static '70711-senyum-keceriaan-anak-pengungsi-korban-gempa-lombok.jpg' %}" class="bg-img">

	<div>
		{% block content %}
		{% endblock %}
	</div>

	<div class="jumbotron bg-orange footer">
  		<div class="container" style="padding:0rem; margin-left: 0px">
    		<h5 class="footer-tag">Copyright © 2018 Sinar Perak. All rights reserved.</h5>
    	</div>
    </div>
</body>
</html>
