{% extends 'navbarFooter.html' %}
{% load static %}

{% block title %}Program{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/programStyle.css' %}" type="text/css">
{% endblock %}

{% block content %}
<br><br>
<div class="card-deck">
	{% if programs %}
	{% for program in programs %}
	<div class="card program-card" style="margin-left: 50px; margin-bottom: 50px; max-width: 250px">
		<img class="card-img-top program-img" src="{{ program.link_img }}" alt="Program Image" style="height: 250px; width: 250px;">
		<div class="card-body program-bg" style="width: 250px; height: 50%">
			<h5 class="card-title program-text">{{ program.judul }}</h5>
			<p class="card-text program-text">{{ program.deskripsi }}</p>
			<p class="card-text program-category">Rp {{ program.jumlah }} terkumpul <br> {{ program.kategori }} &emsp; {{ program.lokasi }}</p>
			<a class="nav-item nav-link" href="{% url 'Donasi:view_form_donasi' %}"><button type="button" class="btn button-daftar btn-donasi">Donasi</button></a>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<div class="empty-box">
		<h1 class="empty-title">TIDAK ADA PROGRAM</h1>
	</div>
	{% endif %}
</div>
<br> <br>
{% endblock %}