.bg-orange{
	background-color: #F9812A;
}

.brand{
	font-family: 'Montserrat', sans-serif;
	font-color: #CBCFD4;
	font-size: 2vw;
}

.menu{
	font-family: 'Montserrat', sans-serif;
	font-color: #CBCFD4;
	font-size: 1.5vw;
}

.logo{
	width: 3vw;
	height: 3vw
}

.button{
	border-radius: 25px;
}

.button-daftar{
	border-radius: 25px;
	transition: 0.5s;
    background-size: 99% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: -1px;
    width: 5vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-image: linear-gradient(to right, #A8FF78,#78FFD6);
}

.button-daftar:hover{
    background-position: right center;
}

.footer{
	font-family: 'Montserrat', sans-serif;
	font-color: #CBCFD4;
	font-size: 1vw;
}