{% extends 'base.html' %}
{% load static %}
{% block title %}Gunung Agung Meletus{% endblock %}

<head>
{% block style %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/baseStyle.css' %}" type="text/css">

{% endblock %}
</head>

{% block content %}
    <br>
    <div>
        <h1 style="text-align: center;font-family: 'Montserrat', sans-serif;">Gunung Agung Meletus</h1><br>
        <img style="display: block; margin: 0 auto; text-align: center; width: 400px; height: 319px;border-radius: 10px;"  src="https://image.ibb.co/mf3t0f/25008703-315856725594153-745518022352961536-n-f41345404283b786a67d9902f30191f3.jpg" alt="berita1"><br>
        <p style="text-align: center;font-family: 'Montserrat', sans-serif;">Gunung Agung yang terletak di Kabupaten Karangasem Bali kembali meletus pada Jumat (67/2018) pukul 14.49 Wita. Letusan ini dapat terlihat dengan jelas dari sisi utara Gunung. Sedangkan dari Pos Pengamatan Gunung Agung tinggi kolom abu sulit terlihat karena tertutup kabut. Melalui siaran resminya, Pusat Vulkanologi dan Mitigasi Bencana Geologi (PVMBG) menyebutkan, erupsi terekam di seismograf dengan amplitudo maksimum 24 milimeter. Durasi letusan terekam terjadi selama kurang lebih 1 menit 30 detik. Baca juga: Cara ke Banyuwangi Bila Bandara Tutup karena Erupsi Gunung Agung Walau sering terjadi letusan sepekan terakhir, status Gunung Agung masih di level III (siaga) dengan zona perkiraan bahaya di radius 4 km dari puncak kawah. Baik masyarakat, wisatawan, maupun pendaki diimbau untuk tidak beraktivitas pada zona bahaya tersebut. Zona Perkiraan Bahaya sifatnya dinamis dan terus dievaluasi dan dapat diubah sewaktu-waktu mengikuti perkembangan data pengamatan. Baca juga: Meletus Pertama pada 1808, Ini Catatan Letusan Gunung Agung Imbauan juga disampaikan kepada masyarakat yang bermukim dan beraktivitas di sekitar aliran-aliran sungai yang berhulu di Gunung Agung agar mewaspadai potensi ancaman bahaya sekunder, berupa aliran lahar hujan yang dapat terjadi terutama pada musim hujan dan jika material erupsi masih terpapar di area puncak. Area landaan aliran lahar hujan mengikuti aliran-aliran sungai yang berhulu di Gunung Agung.</p><br>
        
       <p>Sumber : https://regional.kompas.com/read/2018/07/06/15002791/gunung-agung-kembali-meletus-pada-jumat-siang</p>

    </div>
{% endblock %}
