{% extends 'base.html' %}
{% load static %}
{% block title %}Banjir {% endblock %}

<head>
{% block style %}
<link rel="stylesheet" href="{% static 'css/baseStyle.css' %}" type="text/css">
{% endblock %}
</head>

{% block content %}
<br>
    <div>
        <h1 style="text-align: center;font-family: 'Montserrat', sans-serif;">Banjir (lagi) di Jakarta</h1><br>
        <img style="display: block; margin: 0 auto; text-align: center; width: 400px; height: 319px;border-radius: 10px;" src="https://preview.ibb.co/dweVD0/banjir-bandang-sumatera-pasaman.jpg" alt="berita3"><br>
       <p style="text-align: center;font-family: 'Montserrat', sans-serif;">Hujan yang turun sejak pagi membuat sejumlah wilayah Jakarta kembali tergenang, kendati tidak separah beberapa waktu lalu. Kepala Pusat Data Informasi dan Humas Badan Nasional Penanggulangan Bencana (BNPB) Sutopo Purwo Nugroho menyebut banjir kali ini sebagian besar melanda wilayah Jakarta Utara dan Jakarta Pusat. Antara lain: Jalan Yos Sudarso, Sunter, Gunung Sahari, Pecenongan. Cempaka Putih, Mangga Dua, dan Kemayoran. "Daerah-daerah tersebut tadi sempat terendam, karena masalah drainase saja. Dan cepat sekali genangannya cepat surut," ujar Sutopo kepada BBC Indonesia (15/02) sore. Mereka yang 'bersahabat' dengan banjir di tepi Ciliwung sejak 'zaman nenek moyang' Longsor tewaskan tiga orang, Jakarta mulai banjir, pengungsian berlangsung Banjir masih mengancam Jakarta: Lima hal yang harus Anda ketahui Dia memastikan kondisi sungai di Jakarta dalam kondisi normal, tidak seperti banjir sebelumnya dimana Sungai Ciliwung meluap akibat banjir kiriman dari hulu. Banjir di Jalan Yos Sudarso, Sunter Jaya, Jakarta Utara dengan ketinggian 10 - 20 cm. Informasi yang dikumpulkan BBC Indonesia menunjukkan, di depan Arion Mall Rawamangun, terjadi genangan cukup tinggi. Di kawasan Kelapa Gading, jalanan digenangi air hingga selutut orang dewasa, dan membuat banyak mobil terjebak dan harus bersusah payah untuk bisa melaju. Di sekitar Rawamangun, selokan-selokan meluap dan air menggenangi jalanan. Kondisi banjir di Jalan Manyar, Tegal Alur, Jakarta Barat. Di beberapa titik di Jalan Letjen Suprapto, Cempaka Putih, banjir mencapai ketinggian 50 cm. Di Gerbang Tol Cikarang Barat, terjadi kemacetan panjang aibat genangan air yang mencapai ketinggian hingga 30 cm. BNPB mencatat, terdapat genangan banjir yang tersebar di 53 RW, 18 kelurahan dan 4 kota di Jakarta, yakni Jakarta Barat, Jakarta Pusat, Jakarta Utara dan Jakarta Timur. "Paling banyak terjadi di Jakarta Utara karena memang konsentrasi curah hujan tadi memang paling banyak di Jakarta Utara. Hujan lebat membuat drainase tidak mampu menampung aliran permukaan sehingga menggenangi wilayah di sekitarnya dan cepat sekali surut." Bahkan banjir pula merendam jalan di dekat Istana Negara yang berlokasi di Jakarta Pusat pada Kamis (15/02). "Sehingga menyebabkan transportasi, lalu lintas menjadi macet. Namun kalau kita melihat sebagian besar sudah surut," cetusnya. Berdasar informasi dari Badan Penanggulangan Bencana Daerah (BPBD) Jakarta, tinggi muka air di pingu air Pulo Gadung berada di status siaga 3 pada pukul 14.00 WIB dengan ketinggian muka air 590 cm. Antisipasi wilayah yang kemungkinan terdampak aliran pintu air Pulo Gadung, antara lain: Kelapa Gading Barat, Kelapa Gading Timur, Koja, Pulo Gadung, Sungai Bambu, Sunter Jaya, Sumur Batu, Rawa Badak Selatan, Rawa Badak Utara dan Kebon Bawang. Banjir Kampung Pulo: "Enak tinggal di sini daripada di rusun". Curah hujan tak hanya mengakibatkan banjir di daratan dan mengganggu lalu lintas selain merendam sejumlah rumah yang sudah menjadi langganan banjir. para pengguna lalulintas udara juga diserukan untuk waspada. Dirjen Perhubungan Udara Kementerian Perhubungan Agus Santoso menyerukan kewaspadaan terkait keselamatan penerbangan "Bulan Februari merupakan puncak musim hujan. Mayoritas wilayah Indonesia akan diguyur hujan yang cukup lebat dan biasanya disertai perubahan cuaca yang ekstrim," kata Agus Santoso. Kondisi ini akan terus berlangsung selama beberapa hari ke depan lantaran saat ini Indonesia sedang mengalami puncak musim hujan. Musim hujan diprediksi akan berakhir pada akhir bulan Maret.</p><br> 
<p>Sumber : https://www.bbc.com/indonesia/indonesia-4306879</p>

    </div>
{% endblock %}
