{% extends 'base.html' %}
{% load static %}
{% block title %}Gempa Bumi {% endblock %}

<head>
{% block style %}
<link rel="stylesheet" href="{% static 'css/baseStyle.css' %}" type="text/css">
{% endblock %}
</head>

{% block content %}
<br>
    <div>
        <h1 style="text-align: center;font-family: 'Montserrat', sans-serif;">Gempa Bumi Guncang Empat Tempat</h1><br>
        <img style="display: block; margin: 0 auto; text-align: center; width: 400px; height: 319px;border-radius: 10px;" src="https://image.ibb.co/m4oFwL/28db937db8bd5d145c60cec95d8c955d-600x400.jpg" alt="berita2"><br>
       <p style="text-align: center;font-family: 'Montserrat', sans-serif;">Sabtu (13/10/2018), ada empat tempat di Indonesia diguncang gempa bumi. Dilansir dari akun Twitter resmi BMKG, ada empat tempat yang diguncang gempa bumi dengan itensitas kekuatan yang berbeda juga. Gempa bumi yang mengguncang beberapa tempat di Indonesia pada hari ini termasuk gempa bumi dangkal dengan kekuatan dari 2,4 hingga 5,6 SR dan semuanya tidak berpotensi menimbulkan tsunami. Pada pukul 11.34 WIB terjadi gempa dengan kekuatan 5,6 SR mengguncang Manado, Tondano dan Bitung. Pusat gempa berada di 38 km tenggara Bitung dengan kedalam 97 km dan dirasakan hingga Manado. "#Gempa Mag:5.6, 13-Okt-18 11:34:16 WIB, Lok:1.36 LU, 125.46 BT (Pusat gempa berada di Laut 38 km Tenggara Bitung), Kedlmn:97 Km Dirasakan (MMI) III Bitung, III Tondano, II Manado, II-III Airmadidi #BMKG". Sebelumnya pada pukul 09.55 WIB gempa berkekuatan 3,7 SR terjadi di Bengkunat, Lampung. Pusat gempa berada di 51 km Barat Daya Pesisir Barat Lampung dengan kedalaman 21 km. "#Gempa Mag:3.7, 13-Okt-18 09:18:55 WIB, Lok:5.65 LS, 103.87 BT (Pusat gempa berada di laut 51 km BaratDaya Pesisir Barat, lampung), Kedlmn:21 Km Dirasakan (MMI) II Bengkunat #BMKG." Gempa juga terjadi di Dieng pada pukul 06.35 pagi hari ini. Kekuatan gempa yang terjadi di Dieng sebesar 2,4 SR, sedangkan pusatnya berada di 16 km Tenggara Dieng di kedalaman 9 km. "#Gempa Mag:2.4, 13-Okt-18 06:23:35 WIB, Lok:7.34 LS, 109.91 BT (Pusat gempa berada di darat 16 km Tenggara Dieng), Kedlmn:9 Km Dirasakan (MMI) I-II Dieng #BMKG." Pada pukul 04.13 WIB, gempa bumi berkekuatan 3,0 SR terjadi lagi di Palu. Pusat gempa berada darat 9 km utara palu dengan kedalaman 11 km. </p><br> 
<p>Sumber : http://aceh.tribunnews.com/2018/10/13/hari-ini-gempa-bumi-guncangempat-tempat-di-indonesia-dengan-kekuatan-berbeda</p>

    </div>
{% endblock %}
