{% extends 'navbarFooter.html' %}
{% load static %}

{% block title %}News{% endblock %}
<head>

{% block style %}
<link rel="stylesheet" href="{% static 'css/baseStyle.css' %}" type="text/css">
{% endblock %}


{% block content %}
<br><br>
<div class="card-deck berita-card">
            {% for i in new %}
            <div class="card">
                <img class="card-img-top berita-img" src="{{ i.photo }}" alt="News Image">
            
                <div class="card-body berita-bg" style = "background-color: #3C444D;">
                    <h5 class="card-title berita-text" >{{ i.title }}</h5>
                    <p class="card-text berita-text" >{{ i.content }}</p>
                    <a href="{{ i.baca }}">Baca Selengkapnya</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <br> <br>
   
{% endblock %}

